.flex-column{
    /* display: flex;
    justify-content: start; */
}

.home-container{
    display: flex;
    
    /* justify-content: center; */
}

.home-menu{
    margin-top: 30px;
    /* margin-left: 30px; */
    /* box-shadow: 1px 0px 3px rgba(34, 35, 58, 0.2); */
}

.home-content{
    margin-top: 30px;
    margin-left: 30px;
}

.home-table{
    text-align: center;
}

.home-time{
    text-align: center;
}

.location-radio{
    width: 100%;
    margin: auto;
}

.location-radiobtn{
    background: lightgray;
}

.btn.disabled{
    background: lightgray;
    opacity: 100%;
}

.tableHead{
    background: lightblue;
}