.location-setting{
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
}

h3{
    margin: 10%;
    text-align: center;
}

.alarm-setting{
    height: auto;
}

.province, .time{
    width: 265px;
}

.setlocation-btn, .setalarm-btn{
    width: 290px;
    margin-top: 5%;
    margin-bottom: 20%;
}

.alarm-radio{
    width: 100%;
    margin: auto;
}

.alarm-radiobtn{
    background:rgb(173, 200, 230);
}

.label{
    text-align: center;
    margin-right: 10px;
}

.timeLabel{
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
}