.location-setting{
    width: fit-content;
    margin: auto;
}

h3{
    margin: 10%;
    text-align: center;
}

.province, .city{
    width: 300px;
}

.setlocation-btn{
    width: 300px;
    margin-top: 10%;
}